
#frontImage {
	display: block;
	position: relative; top: 0; left: 0; width: 101.5%;
	margin-left: -1%;
}
#titel {
	text-align: center;
}
.headFoot {
	display: block;
	max-width: 940px;
	margin: auto;
}
footer {
	text-align: center;
	text-transform: uppercase; letter-spacing: 0.1em;
	font-size: 0.8em;
	line-height: 0.7em;

}
footer > a {
	text-decoration: none;
	color: black;
}

nav {
	text-align: center;
	margin: 10px auto;
	padding: 20px;
	font-size: 1em;
	text-transform: uppercase; letter-spacing: 0.05em;
}
nav > a {
	font-family: sans-serif;
	text-decoration: none;
	color: black;
}
a:hover {
	text-decoration: underline;
}
.navDivider {
	font-size: 2em;
}
hr {
  border:none;
  border-top: 5px dotted silver;
  height: 1px;
  width: 75%;
}